{% if __SELF__.itemCount > 0 %}
  {% for item in __SELF__.items() %}
  <li class="list-group-item">
    <form
      data-request="{{ __SELF__ }}::onRemoveItem"
      data-request-update="'{{ __SELF__ }}::list': '#wishlist-list'"
      data-request-success="wishlist.updateButtons('{{ item.type|e('js') }}:{{ item.id }}', false)"
    >
      <input type="hidden" name="item" value="{{ item.type }}:{{ item.id }}">

      {% if item.url %}
        <a href="{{ item.url }}">{{ item.title }}</a>
      {% else %}
        {{ item.title }}
      {% endif %}

      <button type="submit" class="close pull-right" aria-hidden="true">&times;</button>
    </form>
  </li>
  {% endfor %}
{% else %}
  <li>{{ 'No items'|_ }}</li>
{% endif %}
