{% if __SELF__.itemCount > 0 %}
  {% for item in __SELF__.items() %}
  <li class="list-group-item">
    <form
      data-request="{{ __SELF__ }}::onRemoveItem"
      data-request-update="'{{ __SELF__ }}::list': '#wishlist-list'"
      data-request-success="wishlist.updateButtons('{{ item.type|e('js') }}:{{ item.id }}', false)"
      class="row collapse"
    >
      <input type="hidden" name="item" value="{{ item.type }}:{{ item.id }}">

      <div class="column small-10 medium-9">
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.title }}</a>
        {% else %}
          {{ item.title }}
        {% endif %}
      </div>

      <div class="column small-2 medium-3">
        <button type="submit" class="close expand" title="{{ 'Remove from my list'|_ }}">&times;</button>
      </div>
    </form>
  </li>
  {% endfor %}
{% else %}
  <li>{{ 'No items'|_ }}</li>
{% endif %}
